<div class="container">
    <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12">
    
    
    <h2 ng-if="!demoSite" class="Nhm_heading-1 Nhm_heading-2" ng-bind='vernacularStaticTextContent["block_4_heading_text"]'></h2>
    <h2 ng-if="demoSite" class="Nhm_heading-1 Nhm_heading-2">Add Your Services Here</h2>
    
    
    </div>
    
    
    <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="item ts_QualitySlide">
    <ul class="NwBanner-Slider">
    
    <li>
    <div class="row NwH_Quality">
    <div class="col-xs-12 col-sm-6 col-md-6">
    <h4>Mechanical CAD</h4>
    <p><p></p><ul><li>AutoCAD 2D</li><li>CreO</li><li>Solidworks</li><li>Catia</li><li>UG NxCAD</li><li>Ansys Workbench</li><li>Hypermesh</li></ul><p></p></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
    <img class="img-responsive" loading="lazy" src="/static/media/wl_client_images/6b33b5024f3a4452a31fac57a628dbc5.jpeg" alt="Mechanical CAD image">
    </div>
    </div>
    </li>
    
    <li>
    <div class="row NwH_Quality">
    <div class="col-xs-12 col-sm-6 col-md-6">
    <h4>Civil CAD</h4>
    <p><ul><li>AutoCAD 2D</li><li>Revit Architecture</li><li>3dsMAX</li><li>SketchUp</li><li>VRay</li><li>Staadpro</li><li>ETabs</li><li>Civil 3D</li><li>Microsoft Projects</li><li>Primavera</li></ul></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
    <img class="img-responsive" loading="lazy" src="/static/images/Image2_wl.png" alt="Civil CAD image">
    </div>
    </div>
    </li>
    
    <li>
    <div class="row NwH_Quality">
    <div class="col-xs-12 col-sm-6 col-md-6">
    <h4>Electrical CADD</h4>
    <p><ul><li>AutoCAD Electrical</li><li>Revit MEP</li></ul></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
    <img class="img-responsive" loading="lazy" src="/static/media/wl_client_images/128e57799eaa4e0084f3d61cfb1a32af.jpg" alt="Electrical CADD image">
    </div>
    </div>
    </li>
    
    </ul>
    </div>